@font-face {
    font-family: Jura;
    src: url(../../../public/fonts/static/Jura-Regular.ttf);
}

@font-face {
    font-family: JuraBold;
    src: url(../../../public/fonts/static/Jura-Bold.ttf);
}

.bgLogin {
    background-image: url(../../../public/images/Main\ Background\ Img\ Placeholder.jpg);
    background-size: cover;
}
.friendsPic{
    height: 46px;
    width: 49px;
}
.txtOrange {
    color: #FF7A00;
}

.juraBold {
    font-family: JuraBold;
}

.jura {
    font-family: Jura;
}

.bgOrange {
    background-color: #FF7A00;
}

.bgBlack {
    background: linear-gradient(141deg, rgba(55, 55, 55, 0.9) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(31, 31, 31, 0.9) 100%);
}

.line {
    border-left: 2px solid white;
    height: 100%;
}

.bgFireIcon{
    background-image: url(../../../public/images/fire-fill.svg);
    background-size: cover;
}

.bgWaveIcon{
    background-image: url(../../../public/images/hand-waving-fill.svg);
    background-size: cover;
}

.messageTxt {
    inline-size: inherit;
    overflow-wrap: break-word;
}

  
  .navtext img:hover {
color: #C37500;
  }
