.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 10px;
  }
  

  
  .navbarToggle {
    display: none;
    cursor: pointer;


    
  }

  .navbarLinks {
    display: flex;
    list-style: none;
  }
  /*  className="font-medium flex flex-col gap-6 items-end p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0  dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"> */


  
  @media (max-width: 768px) {
    .navbarLinks {
      display: none;
    }
  
    .navbarToggle {
      display: block;
    }
  
    .navbarLinks.open  {
      display: flex;
      flex-direction: column;
      background-color: #000000;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      padding: 10px;
     
    }
  }